.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input:not([type=checkbox]) {
    display: block;
    margin-bottom: 20px;
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    font-size: 16px;
}