/* --- navbar brand ---- */
.navbar-dark .navbar-brand:hover {
    color: black;
}

/* ----- nav item ------- */
a {
    margin: 5px 20px;
    font-size: 19px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black !important;
}

a:hover {
    color: black;
}