.introduction-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 50px 15px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.introduction-details {
    width: 50%;
    text-align: left;
}

.introduction-title {
    color: green;
}

.introduction-pic {
    width: 40%;
}

.introduction-pic img {
    width: 80%;
    padding-left: 10px;
}