footer {
    background-color: #24262b;
    height: 25vh;
    padding: 30px;
    color: #bbbbbb;
    margin-top: auto;
}

.footer-item {
    text-align: left;
}

.footer-item ul {
    list-style: none;
    padding-left: 0;
}

.footer-item ul li a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #bbbbbb;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-item ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}